defaults: &defaults
  host: 127.0.0.1
  port: 27017

development:
  <<: *defaults
  database: track_tweets_development

test:
  <<: *defaults
  database: track_tweets_test

# set these environment variables on your prod server
production:
  <<: *defaults
  database: track_tweets
  username: demo
  password: demo
